

#controlPanel {
    width: 80%;
    border: solid 10px darkred;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#titleSplash #controls {
    border: solid 1px darkred;
}

.block {
    border: solid 0.5px black;
    flex-grow: 1;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;
}

.emptyBlock {
    background-color: rgb(153, 123, 84);
}

.untouchedBlock {
    /* background-color: green; */
    background-image: none;

}

.flaggedBlock {
    background-color: red;
}

.bombBlock {
    background-image: url(Images/bomb.svg);
}

.block:hover {
    border: solid 0.5px greenyellow;
}

.row {
    display: flex;
    flex-grow: 1;
    height: 5%;
}

#allRows {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 80%;
    margin: auto;
    border: solid 10px darkred;
    border-radius: 10px;
    background-color: green;
}

#gameMode {
    display: flex;
}

.gameModeButton {

}
.gameModeButtonSelected {
    background-color: brown;
}

button {
    border: none;
    background-color: darkgray;
    color: maroon;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;   
}

#controls {
    display: flex;
}