

#controlPanel {
    width: 80%;
    border: solid 10px darkred;
    margin: auto;
}

#titleSplash #controls {
    border: solid 1px darkred;
}

.block {
    border: solid 1px black;
    flex-grow: 1;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.emptyBlock {
    background-color: rgb(153, 123, 84);
}

.untouchedBlock {
    /* background-color: green; */
    background-image: none;

}

.flaggedBlock {
    background-color: red;
}

.bombBlock {
    background-image: url(Images/bomb.svg);
}

.block:hover {
    border: solid 1px greenyellow;
}

.row {
    display: flex;
    flex-grow: 1;
}

#allRows {
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 80%;
    margin: auto;
    border: solid 10px darkred;
    border-radius: 10px;
    background-color: green;
}

