html, body {
    background-color: rgb(36, 80, 36);
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
}


h1 {
    padding: 25px;
    margin: 0px;
}

#controlPanel {
    width: 100%;
    background-color: burlywood;
    border: solid 10px burlywood;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#titleSplash #controls {
    border: solid 1px burlywood;
}

.block {
    border: solid 0.5px black;
    flex-grow: 1;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;
}

.emptyBlock {
    background-color: rgb(153, 123, 84);
}

.untouchedBlock {
    /* background-color: green; */
    background-image: none;

}

.flaggedBlock {
    background-color: red;
}

.bombBlock {
    background-image: url(Images/bomb.svg);
}

.block:hover {
    border: solid 0.5px greenyellow;
}

.row {
    display: flex;
    flex-grow: 1;
    height: 5%;
}

#allRows {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 100%;
    margin: auto;
    border: solid 10px burlywood;
    background-color: green;
}

#gameMode {
    display: flex;
}

.gameModeButton {

}
.gameModeButtonSelected {
    background-color: lightgrey;
}

button {
    border: none;
    background-color: darkgray;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;   
}

button:hover {
    color: rgb(46, 45, 45);
}

#controls {
    display: flex;
    align-items: center;
}

#timer {
    font-size: x-large;
    align-items: center;
    padding: 25px;
}

#reset {
    background-color: rgb(197, 83, 83);
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#game {
    width: 80%;
}